<h1>Minhas receitas</h1>
<% if @recipes.length > 0 %>
<div class="card-deck">
  <%= render partial: 'shared/recipe', collection: @recipes %>
</div>
<% else %>
<h3><%= "Você não possui nenhuma receita cadastrada!" %></h3>
<% end %>

<%= link_to 'Voltar', root_path, class: 'btn btn-secondary' %>