<footer class="bg-dark footer">
  <div class="row text-center">
    <div class="col-md-12 d-flex justify-content-center">
      <p id="copyright">Cookbook | &#9400; 2019</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
      <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>